/cache/
/resources/\[local\]/
ghmattimysql.log
resources/\[assets\]/
resources/\[vehicles\]/
resources/\[map\]/
resources/\[cars\]/
*.zip
*.7z
*.rar
imgui.ini
scores.json
mysql.cfg
license.cfg
bans.json
server.cfg
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
/db/
.vscode/settings.json
resources/NR_Carpack/logs
scores.json
StreetRaces_saveData.txt
resources/.vscode