// Color themes
$color-white:      #fff;
$color-black:      #000;
$color-primary:    #8bc34a;
$color-bg:         #a2cf6e;
$color-accent:     #44740e;
$color-text:       #333;
$color-text-body:  $color-text;
$color-icon:       $color-text;
$color-icon-body:  #0c5c20;
$color-success:    #4ad395;
$color-error:      #833030;
$color-info-box-text:  $color-text-body;
$shadow-primary:    darken($color-bg, 15);
$shadow-secondary: lighten($color-bg, 10);
$color-save-btn-text:    $color-icon-body;