#offButton{
	font-size: 32px;
    position: absolute;
    top: 6px;
    right: 52px;
}

#off{
    background: aliceblue;
    position: absolute;
    height: 50px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
	z-index: 100;
}

#circle{
    height: 75px;
    width: 75px;
    background-color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -25px;
    right: 32px;
}

body {
    background-image: url(./img/bg.jpg);
    background-size: cover;
}

#icon-size{
    font-size: 47px;
    padding: unset;
    padding-bottom: 40px;
    padding-top: 22px;
}

@media screen and (max-width: 768px) {
	#menu {
		max-height: 43vw;
		max-width: 60vw;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		height: 100%;
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	#menu{
		max-height: 43vw;
		max-width: 76vw;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		height: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.text {
		font-family: Montserrat, sans-serif;
		text-overflow: ellipsis;
		position: relative;
		justify-content: center;
		align-items: center;
		font-size: 25px;
	}	
}

@media screen and (min-width: 768px) {
	.text{
		font-family: Montserrat, sans-serif;
		height: 95px;
		text-overflow: ellipsis;
		font-size: 39px;
		position: relative;
		bottom: 83px;
		width: 419px;
		left: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 768px) {
	.box{
		background: aliceblue;
		max-height: 160px;
		max-width: 467px;
		float: left;
		margin: 8px;
		text-align: center;
		height: 100%;
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.box {
		background: aliceblue;
		float: left;
		margin: 8px;
		text-align: center;
		width: 100%;
	}
	
	#icon-size{
		display: none;
	}	
}